/* TYPOGRAPHY */
/* Font Sizing Scale (px) */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
/* Font Weights */

/* Line Heights */

/* Letter Spacing */

/* COLORS */
/* 
Main: #F2E5BF
tints:
shades:

Grey: #257180
tints:
shades:

Accent: #FD8B51
tints:
shades:

Support: #CB6040
tints:
shades:
*/

/* BOX SHADOWS */

/* BORDER RADIUSES */

/* WHITESPACE  */
/* Spacing Scale (px) */
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Regular.ttf');
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  --color-true-gray: #555;
  --color-main: #f2e5bf;
  --color-accent: #fd8b51;
  --color-support: #cb6040;
  --color-gray: #257180;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--color-true-gray);
  background-color: var(--color-main);
  height: 100vh;
}

/* SECTION STYLING */
.section {
  padding: 12rem;
}

/* HEADER STYLING */
.header {
  display: flex;
  align-items: center;
  gap: 3.2rem;

  padding: 3rem 6rem;
}
.header-logo {
  height: 10rem;
  stroke: var(--color-true-gray);
}
.header-text {
  font-size: 2rem;
}

/* HERO STYLING */
.section-hero {
}
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;
}
.hero-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}
.hero-description {
  padding: 0 4rem;
}
.hero-link-box {
}
.btn:link,
.btn:visited {
  color: var(--color-support);
  text-decoration: none;

  transition: all 300ms;
}
.btn:hover,
.btn:active {
  color: var(--color-gray);
  text-decoration: underline;
}
.hero-img-box {
  display: flex;
  justify-content: center;
}
.hero img {
  width: 50%;
  border-radius: 13px;
}

/* TEACHER SECTION STYLING */
.section-teachers {
}
.teacher-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem;
}
.teacher-card {
  min-width: 20rem;
  /* min-height: 20rem; */
  padding: 1rem;
  text-align: center;
  border: 3px solid currentColor;
  border-radius: 5px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;

  cursor: pointer;
  transition: all 300ms;
}
.teacher-card:hover {
  border-color: var(--color-gray);
  color: var(--color-gray);
}
.teacher-name {
  font-size: 3.2rem;
  grid-column: 1/-1;
}
.teacher-group {
  font-size: 2rem;
  color: var(--color-true-gray);
  border: 3px solid currentColor;
  border-radius: 5px;
  width: 80%;
  padding: 1rem 2rem;
  background-color: transparent;

  display: none;
}
.teacher-active > .teacher-group {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: all 300ms;
}
.teacher-active > .teacher-group:hover {
  border-color: var(--color-accent);
  color: var(--color-accent);
}
/* GENERATE SECTION STYLING */
.section-generate {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.generate-container {
  color: var(--color-main);

  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.gen-btn-container {
  display: flex;
  justify-content: space-around;
}
.gen-btn-size {
  width: 10rem;
  height: 4rem;
  font-size: 2rem;
  font-weight: 700;

  color: var(--color-main);
  border: 3px solid var(--color-gray);
  background-color: var(--color-gray);
  border-radius: 5px;

  cursor: pointer;
  transition: all 300ms;
}
.gen-btn-size:hover {
  border-color: var(--color-support);
  background-color: var(--color-support);
}
.generate-names,
.generate-teams {
  padding: 1rem;
  font-size: 2.4rem;
  border-radius: 5px;
  background-color: #257180;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.generate-names {
}
.generate-teams {
  flex-grow: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.team-card {
  background-color: var(--color-support);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
