.container {
  padding: 2.4rem;
  min-width: 90rem;
  max-width: 120rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;

  max-width: fit-content;
  margin: auto;
}

.display {
  display: flex;
  gap: 4rem;
}
