.header {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1rem 2rem;
  background-color: var(--color-gray);
}

.headerText {
  font-size: 4.4rem;
  font-weight: bold;
  margin-left: 1rem;
  color: var(--color-accent);
}

.dieIcon {
  width: 5.2rem;
  height: 5.2rem;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
