/* TYPOGRAPHY */
/* Font Sizing Scale (px) */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* WHITESPACE  */
/* Spacing Scale (px) */
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  --color-gray: #2b2e4a;
  --color-gray-2: #6b6d80;
  --color-gray-3: #aaabb7;
  --color-gray-4: #eaeaed;
  --color-true-gray: #53354a;
  --color-main: #903749;
  --color-accent: #e84545;
  --color-text: #f2e5bf;
  --color-text-2: #c2b799;
}
#root {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--color-true-gray);
  background-color: var(--color-main);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
